{% extends "layout.twig" %}

{% block head %}
    <title>Espace Administration</title>
{% endblock head %}

{% block content %}
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#Commentaires">Commentaires <span class="badge badge-primary badge-pill">{{ getNumberOfNotConfirmedComments.count }} en attente</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#Articles">Articles</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#Utilisateurs">Utilisateurs</a>
    </li>
</ul>
<div id="TabContent" class="tab-content">
    <div class="tab-pane fade active show" id="Commentaires">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Nom d'utilisateur</th>
                    <th scope="col">Contenu</th>
                    <th scope="col">Date création</th>
                    <th scope="col">Supprimer</th>
                </tr>
            </thead>
            <tbody>
                {% for comment in comments %}
                <tr {% if comment.is_confirmed == false %}class="table-primary"{% endif %}>
                    <th scope="row"><a href="/post/{{ comment.post_id }}">{{ comment.name }}</a></th>
                    <td><a href="/post/{{ comment.post_id }}">{{ comment.content }}</a></td>
                    <td><a href="/post/{{ comment.post_id }}">{{ comment.created_at }}</a></td>
                    <td><a href="/delete_comment/{{ comment.id }}"><i class="fas fa-trash"></i></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <hr>
        {% if getNumberOfNotConfirmedComments.count == 0 %}
            <a href="#" class="btn btn-primary disabled btn-block">Pas de commentaires en attente</a>
        {% else %}
            <a href="/confirm_all_comments" class="btn btn-primary btn-block">Approuver tout les commentaires en attente</a>
        {% endif %}
    </div>
    <div class="tab-pane fade" id="Articles">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Id</th>
                    <th scope="col">Date modif.</th>
                    <th scope="col">Editer</th>
                    <th scope="col">Supprimer</th>
                </tr>
            </thead>
            <tbody>
                {% for post in posts %}
                <tr>
                    <th scope="row"><a href="/post/{{ post.id }}">{{ post.name }}</a></th>
                    <td><a href="/post/={{ post.id }}">{{ post.id }}</a></td>
                    <td><a href="/post/{{ post.id }}">{{ post.updated_at |date("m/d/Y") }}</a></td>
                    <td><a href="/edit_post/{{ post.id }}"><i class="fas fa-edit"></i></a></td>
                    <td><a href="/delete_post/{{ post.id }}"><i class="fas fa-trash"></i></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="http://blogphp/new_post" class="add_button">+</a>
    </div>
    <div class="tab-pane fade" id="Utilisateurs">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Email</th>
                    <th scope="col">Date modif.</th>
                    <th scope="col">Supprimer</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr {% if user.is_admin %}class="table-primary"{% endif %}>
                    <th scope="row">{{ user.name }}</th>
                    <td>{{ user.email }}</td>
                    <td>{{ user.updated_at |date("m/d/Y") }}</td>
                    <td><a href="/delete_user/{{ user.id }}"><i class="fas fa-trash"></i></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}