{% extends "layout.twig" %}

{% block head %}
    <title>Espace Administration</title>
{% endblock head %}

{% block content %}
<ul class="nav nav-tabs">
    {#
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#Commentaires">Commentaires <span class="badge badge-primary badge-pill">0</span></a>
    </li>#}
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#Articles">Articles</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#Utilisateurs">Utilisateurs</a>
    </li>
</ul>
<div id="TabContent" class="tab-content">
    {#<div class="tab-pane fade active show" id="Commentaires">
        <a class="btn btn-primary" href="#" role="button">Gerer les commentaires</a>
    </div>#}
    <div class="tab-pane fade active show" id="Articles">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Id</th>
                    <th scope="col">Date modif.</th>
                    <th scope="col">Editer</th>
                </tr>
            </thead>
            <tbody>
                {% for post in posts %}
                <tr>
                    <th scope="row">{{ post.name }}</th>
                    <td>{{ post.id }}</td>
                    <td>{{ post.updated_at |date("m/d/Y") }}</td>
                    <td><i class="fas fa-edit"></i></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="http://blogphp/new_post.html" class="add_button">+</a>
    </div>
    <div class="tab-pane fade" id="Utilisateurs">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Email</th>
                    <th scope="col">Date modif.</th>
                    <th scope="col">Id</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr {% if user.is_admin %}class="table-primary"{% endif %} >
                    <th scope="row">{{ user.name }}</th>
                    <td>{{ user.email }}</td>
                    <td>{{ user.updated_at |date("m/d/Y") }}</td>
                    <td>{{ user.id }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}