{% extends "layout.twig" %}

{% block head %}
    <title>Les articles</title>
{% endblock head %}

{% block content %}
    <h2>Les derniers articles</h2>
    <hr>
    <div class="posts">
        {% for post in posts %}
            <div class="post col-lg-5 shadow-lg p-3 mb-5 rounded"
                {% if post.picture %}
                style='background-image:
                        url("posts_images/{{ post.id }}/{{ post.picture }}");
                {% endif %}'>
                <div class="post_text">
                    <div>
                        <strong><a href="post/{{ post.id }}">{{ post.name }}</a></strong>
                    </div>
                    <div>
                        <a href="post/{{ post.id }}">{{ post.catchphrase }}</a>
                    </div>
                    <div class="col-12 text-right">
                        <span class="signature">{{ post.created_at | date("m/d/Y") }}</span>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}