{% extends "layout.twig" %}

{% block head %}
    <title>{{ post.name }}</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" type="png" href="../images/favicon.png"/>
{% endblock head %}

{% block content %}
    <h1>{{ post.name }}</h1>
    <span>par Benjamin Haise le {{ post.created_at |date("m/d/Y", "Europe/Paris") }}</span>
    <img style="height: auto; width: 100%; display: block;" src="../posts_images/{{ post.id }}/{{ post.picture }}" alt="Post image">
    <h5>{{ post.catchphrase }}</h5>
    <span>partager Fb / Twitter / Linkedin / Lien brut</span>
    <hr>
    <div>{{ post.content | raw }}</div>
    <hr>
    {% for comment in comments %}
        <div class="card mb-3">
            <h3 class="card-header">{{ comment.user_name }}</h3>
            <div class="card-body">
                <p class="card-text">{{ comment.content }}</p>
            </div>
            <div class="card-footer text-muted">
                {{ comment.created_at }}
            </div>
        </div>
    {% endfor %}
    <form method="post" action="">
        <fieldset>
            <legend>Réagissez à cet article!</legend>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="text" name="user_name"  required class="form-control" id="InputName1" placeholder="Pseudo qui apparaîtra dans le commentaire">
                </div>
            </div>
            <div class="form-group">
                <textarea class="form-control" name="content"  required id="Textarea" rows="3" placeholder="Contenu du commentaire (〜^∇^)〜"></textarea>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Valider</button>
        </fieldset>
    </form>
{% endblock %}